// Footer
.d-footer {
  bottom: 0;
  background: #1a181e;
  color: #fff;
  width: 100%;

  &__top--box {
    display: flex;
  }

  &__bottom--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__bottom--box-mobile {
    display: none;
  }

  &__link--wrap {
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-left: 5rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  li {
    font-family: 'Galano Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    list-style-type: none;
    margin: 0 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .d-footer__image--wrap {
    display: none;
  }
  .d-footer__bottom--box {
    display: none;
  }
  .d-footer__link--wrap {
    margin-left: 0px;

    ul {
      width: 50%;
    }
  }
  .d-footer__bottom--box-mobile {
    img {
      margin-bottom: 20px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }
}
