@font-face {
  font-family: 'Galano Grotesque';
  src: local('Galano Grotesque'), url(../Fonts/galanogrotesque-regular.otf) format('opentype');
}

@font-face {
  font-family: 'Galano Grotesque';
  font-weight: 500;
  src: local('Galano Grotesque'), url(../Fonts/galanogrotesque-medium.otf) format('opentype');
}

@font-face {
  font-family: 'Galano Grotesque';
  font-weight: 600;
  src: local('Galano Grotesque'), url(../Fonts/galanogrotesque-semibold.otf) format('opentype');
}
